@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background: #eeee;
}

/* arrow styling */
.arrow {
  font-size: 16px;
  /* height: 24px;
  width: 24px; */
}

/* input box  */
.input_box {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.nav_search {
  display: none;
}

@media screen and (max-width: 400px) {
  .input_box {
    padding: 4px 5px;
  }

  .nav_search {
    display: block;
  }

  .search-product {
    display: block;
    position: absolute;
    top: 10rem;
    right: 4rem;
  }

  .input {
    padding: 1rem 1rem;
    border-radius: 10px;
    width: 100%;
  }
}
.input::placeholder {
  font-size: 14px;
}

/* admin_search_icon */
.admin_search_icon {
  font-size: 1.5rem;
  cursor: pointer;
  background: rgb(145, 5, 245);
  color: #fff;
  border-radius: 50%;
  padding: 0.3rem 0.3rem;
}

/* admin_input */
.admin_input::placeholder {
  font-size: 14px;
}

.admin_input {
  outline: none;
  border: none;
}

/* search_mobile */
.search_mobile {
  font-size: 34px;
  background: rgb(137, 4, 231);
  padding: 0.5rem 0.2rem;
  cursor: pointer;
  color: #ece9e9;
  border-radius: 50%;
}

/* search_icon */
.search_icon {
  font-size: 30px;
  background: rgb(144, 8, 241);
  padding: 0.5rem 0.2rem;
  cursor: pointer;
  color: #ece9e9;
  border-radius: 50%;
}

.input_box::placeholder {
  color: #ccc;
}

/* flex items-center gap-[10px] text-gray-300 p-[20px] */
.menuLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 18px;
  padding-top: 14px;
  padding-bottom: 14px;
  color: #ece9e9;
}

.menuLinks:hover,
.active {
  background-color: aliceblue;
  color: #222;
  border-radius: 10px;
}

/* sticky top-[40px] aside*/
.aside {
  position: sticky;
  top: 40px;
}

/* text-gray-300 capitalize */
.aside_span {
  text-transform: capitalize;
  color: #ece9e9;
  margin-bottom: 1rem;
  display: block;
}

/* navbar on mobile screen styles */
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/* menu bar animations on mobile screens */
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* serchIcon css styles */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Orders */
.Orders {
  border-bottom: 3px solid rgb(148, 8, 248);
}

.Products {
  border-bottom: 3px solid rgba(15, 177, 15, 0.877);
}

.Sales {
  border-bottom: 3px solid rgb(231, 82, 82);
}

.Right {
  border-bottom: 3px solid rgb(167, 164, 164);
}

.ui {
  border-bottom: 3px solid rgb(137, 4, 231);
}

/* Product input styling */
.product_input {
  background-color: rgb(243, 238, 238);
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.product_input::placeholder {
  color: #222;
  font-size: 0.8rem;
  font-size: bolder;
}

/* home css styles */
.section {
  background: linear-gradient(
    90deg,
    rgb(2, 0, 36),
    rgba(2, 0, 36, 1) 0%,
    rgba(2, 0, 36, 1) 100%,
    rgba(2, 0, 36, 1) 100%
  );
  height: 100vh;
}

/* admin_register */
.admin_register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
